# Job Manager service (TCP microservice)
JOB_MANAGER_PORT=3001

# PostgreSQL
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASS=postgres
DB_NAME=netnut

# Redis (BullMQ)
REDIS_HOST=localhost
REDIS_PORT=6379
